body{
    text-align:center;
  }  

  #firstp{
    word-spacing: 10px;
    font-variant: small-caps;
    text-align: center;
    font-size: 80px;
  }
  #Album
  {
    border-style:solid;
    border-color:#689F38
    border 1px 

  }
  #reason1{
    font-size:50px;
  }